<div class="file-list">
  <div class="row list-header">
    <div class="col-2">File Type</div>
    <div class="col-4">File Name</div>
    <div class="col-2">File Size</div>
    <div class="col-2">Processing</div>
    <div class="col-2">Details</div>
  </div>
  <hr />
  <div class="file-row" *ngFor="let file of fileList">
    <div class="row align-items-center">
      <div class="col-2 file-extension">
        <div *ngIf="file.file_extension == 'docx'; then: word"></div>
        <div *ngIf="file.file_extension == 'doc'; then: word"></div>
        <div *ngIf="file.file_extension == 'pdf'; then: pdf"></div>
        <div *ngIf="file.file_extension == 'txt'; then: txt"></div>
      </div>
      <div class="col-4 file-name">{{ file.file_name }}</div>
      <div class="col-2 file-size">{{ file.size | fileSize }}</div>
      <div class="col-2">
        <div
          *ngIf="file.processed == 0; then: notProcessed; else: processed"
        ></div>
      </div>
      <div class="col-2">
        <button
          class="btn btn-rounded"
          routerLink="/private/fileDetails/{{file.fid}}"
        >
          Details
        </button>
      </div>
    </div>
    <hr />
  </div>
</div>

<ng-template #processed>
  <div class="circle-loader load-complete">
    <div class="checkmark draw"></div>
  </div>
</ng-template>

<ng-template #notProcessed>
  <div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</ng-template>

<ng-template #word>
  <div style="text-align: center">
    <fa-icon class="word-icon" [icon]="faFileWord" size="2x"></fa-icon>
  </div>
</ng-template>

<ng-template #pdf>
  <div style="text-align: center">
    <fa-icon class="word-icon" [icon]="faFilePdf" size="2x"></fa-icon>
  </div>
</ng-template>

<ng-template #txt>
  <div style="text-align: center">
    <fa-icon class="word-icon" [icon]="faFile" size="2x"></fa-icon>
  </div>
</ng-template>
