<div class="full_page">
    <div class="content">
        <div *ngIf="auth.user; then authenticated else guest">

        </div>
    </div>
</div>

<ng-template #authenticated>
    <div class="row">
        <div class="col-12 col-md-8 component-container ml-auto mr-auto">
            <div class="row user-profile">
                <div class="col-12">
                    <app-user-details></app-user-details>
                </div>
            </div>
            <div class="row user-form">
                <div class="col-12">
                    <app-user-details-form></app-user-details-form>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #guest>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <p>Please sign in.</p>
            </div>
        </div>
    </div>
</ng-template>