<div class="full_page">
  <div class="content">
    <div class="row">
      <div class="col-12 landing-area">
        <div class="row">
          <div class="col-12 col-md-6 intro-text landing-section">
            <p>Welcome to my project</p>
            <p>My Final Year Project involves string matching using suffix arrays as a means to improve efficiency.</p>
            <p>To use the project, simply create a user account, add some search terms and upload a file.</p>
            <p>This will begin searching the document for your search term(s) and will present the results to you in the details section.</p>
            <p>For more information, please contact me via: a.m.hewitson-15@student.lboro.ac.uk</p>
          </div>
          <div class="col-12 col-md-6 landing-section">
            <div class="row register-row">
              <div class="col-10 ml-auto mr-auto register-col">
                <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                  <app-register></app-register>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>