<div class="full_page">
  <div class="content">
    <div class="row">
      <div class="col-12 landing-area">
        <div class="row">
          <div class="col-12 col-md-6 map-section landing-section">

          </div>
          <div class="col-12 col-md-6 landing-section">
            <div class="row register-row">
              <div class="col-10 ml-auto mr-auto register-col">
                <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                  <app-register></app-register>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>