<div
  class="dropzone"
  appDragndrop
  (hovered)="toggleHover($event)"
  (dropped)="fs.startFileUpload($event)"
  [class.hovering]="isHovering"
>
  <h3>Upload a Document</h3>
  <div class="row">
    <div class="col-12">
      <p><b>Drag Files Here</b></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input
        class="file-upload-btn"
        id="file-upload"
        type="file"
        (change)="uploadFile($event.target.files)"
      />
      <label class=" btn btn-rounded" for="file-upload">Choose a file...</label>
      <p>{{fs.uploadError}}</p>
    </div>
  </div>
</div>
<div class="" *ngIf="(fs.percentage | async) as pct">
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      aria-valuenow="pct"
      aria-valuemin="0"
      aria-valuemax="100"
      [style.width]="pct + '%'"
    >
    {{ pct | number }}%
    </div>
  </div>
</div>
