<div class="row">
  <div class="col-12 col-md-8 mx-auto file-details-card">
    <div class="row">
      <div class="col-12 file-details">
        <div class="row">
          <div class="col-12 col-md-4 file-icon">
            <div *ngIf="file.file_extension == 'docx'; then: word"></div>
            <div *ngIf="file.file_extension == 'doc'; then: word"></div>
            <div *ngIf="file.file_extension == 'pdf'; then: pdf"></div>
            <div *ngIf="file.file_extension == 'txt'; then: txt"></div>
          </div>
          <div class="col 12 col-md-8 file-details-text">
            <div class="row">
              <div class="col-12">{{ file.file_name }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-12 col-md-4">{{ file.size | fileSize }}</div>
              <div class="col-12 col-md-8">{{ file.file_extension }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="overflow-y:auto;">
      <div class="row locations-card">
        <div class="col-12">
          <div *ngIf="citiesFinal"><app-city-list></app-city-list></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12">
          <div *ngIf="townsFinal"><app-town-list></app-town-list></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 delete-file-btn">
        <button class="btn btn-rounded">Delete File</button>
      </div>
    </div>
  </div>
</div>

<ng-template #word>
  <div class="icon-container">
    <fa-icon class="word-icon" [icon]="faFileWord" size="6x"></fa-icon>
  </div>
</ng-template>

<ng-template #pdf>
  <div class="icon-container">
    <fa-icon class="pdf-icon" [icon]="faFilePdf" size="6x"></fa-icon>
  </div>
</ng-template>

<ng-template #txt>
  <div class="icon-container">
    <fa-icon class="txt-icon" [icon]="faFile" size="6x"></fa-icon>
  </div>
</ng-template>
