<div class="row">
  <div class="col-12 col-md-8 mx-auto file-details-card">
    <div class="row">
      <div class="col-12 file-details">
        <div class="row">
          <div class="col-12 col-md-4 file-icon">
            <div *ngIf="file.file_extension == 'docx'; then: word"></div>
            <div *ngIf="file.file_extension == 'doc'; then: word"></div>
            <div *ngIf="file.file_extension == 'pdf'; then: pdf"></div>
            <div *ngIf="file.file_extension == 'txt'; then: txt"></div>
          </div>
          <div class="col 12 col-md-8 file-details-text">
            <div class="row">
              <div class="col-12">{{ file.file_name }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-12 col-md-4">{{ file.size | fileSize }}</div>
              <div class="col-12 col-md-8">{{ file.file_extension }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="overflow-y:auto;">
      <div class="row locations-card">
        <div class="col-12">
          <div *ngIf="contextCollections"><app-contexts></app-contexts></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 delete-file-btn">
        <button
          class="btn btn-rounded"
          data-toggle="modal"
          [attr.data-target]="'#deleteFileModal'"
        >
          Delete File
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="deleteFileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content delete-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete File</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Are you sure you want to delete the file?</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-rounded btn-cancel"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-rounded"
          data-dismiss="modal"
          (click)="fs.deleteFile(file.fid, file.file_extension)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #word>
  <div class="icon-container">
    <fa-icon class="word-icon" [icon]="faFileWord" size="6x"></fa-icon>
  </div>
</ng-template>

<ng-template #pdf>
  <div class="icon-container">
    <fa-icon class="pdf-icon" [icon]="faFilePdf" size="6x"></fa-icon>
  </div>
</ng-template>

<ng-template #txt>
  <div class="icon-container">
    <fa-icon class="txt-icon" [icon]="faFile" size="6x"></fa-icon>
  </div>
</ng-template>